<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="perspective_holidays_holidays_listing_data_source" xsi:type="string">Perspective\Holidays\Model\ResourceModel\Holidays\Collection</item>
            </argument>
        </arguments>
    </type>
<!--    <type name="Magento\Catalog\Pricing\Price\FinalPrice">-->
<!--        <plugin name="change_final_price" type="Perspective\Holidays\Plugin\Price" sortOrder="1" disabled="false" />-->
<!--    </type>-->
    <virtualType name="Perspective\Holidays\Model\ResourceModel\Holidays\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">holidays_table</argument>
            <argument name="resourceModel" xsi:type="string">Perspective\Holidays\Model\ResourceModel\Holidays</argument>
        </arguments>
    </virtualType>
</config>
